# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# User-specific files
*.suo
*.user

#ReSharper
*_ReSharper*
*.zip

#App specific docs folder
Docs
Deployed


# mstest test results
TestResults