.navbar
{
    margin-bottom: 0px;
}
*
{
    font-size: 13px;
}
h2, h2 span
{
    font-size: 21px;
}
h3
{
    font-size: 18px;
}
h3
{
    font-size: 15px;
    margin: 0px;
}
.version-selector
{
    min-width: 138px;
    min-height: 23px;
    text-align: left;
    padding-top: 8px;
}
.version-selector span.caret
{
    float: right;
}
.error-page
{
    margin: 50px;
}
.title-prefix
{
    color: #999999;
}
.table tbody tr:hover td
{
    background-color: transparent;
}

.active a
{
    cursor: pointer !important;
}

.custom-container
{
    margin: 0px 20px 0px 20px;
}
.tiny-text
{
    padding: 0px 15px 5px 15px;
    font-size: 12px;
    margin: 0px;
    font-style: italic;
}
