@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/custom.css" rel="stylesheet" type="text/css" />
</head>
<body class="error-page">
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
</body>
</html>
